*{
    margin: 0;
    padding: 0;
}

#titulo{
    font-family: sans-serif;
    color: rgb(255, 255, 255);
    margin-left: 0%;
}

#subtitulo{
    font-family: sans-serif;
    color: rgb(255, 255, 255);
    margin-left: 0%;
}

fieldset{
    border: 0;
}

body{
    background-color: rgb(44, 44, 88);
    font-family: sans-serif;
    font-size: 0.5cm;
    color: rgb(255, 255, 255);
    margin-left: 20%;
    margin-top: 2%;
    justify-content: center;
}

input, select, textarea, button{
    border-radius: 5px;
}

.campo{
    margin-bottom: 1cm;
}

.campo label{
    margin-bottom: 0.1cm;
    color: rgb(255, 255, 255);
    display: block;
}

fieldset.grupo .campo{
    float: none;
    margin-right: 0.2cm;
}

.campo input[type="text"], .campo input[type="email"], .campo select, .campo textarea{
    padding: 0.2cm;
    border: 1px solid #59429d;
    box-shadow: 2px 2px 2px rgb(13, 13, 14);
    display: block;
}
.campo select option{
    padding-right: 1cm;
}

.campo input:focus, .campo select:focus, .campo textarea:focus {
    background-color: rgb(187, 187, 187);
}

.botao {
    font-size: 1.2cm;
    background-color: rgb(40, 40, 77);
    border: 0;
    margin-bottom: 1cm;
    color: azure;
    padding: 0.2cm 0.6cm;
    box-shadow: 2px 2px 2px black;
    text-shadow: 1px 1px 1px black;
    position: absolute;
    top: 115%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.botao:hover{
    background-color: rgb(28, 96, 155);
    box-shadow: inset 2px 2px 2px #362668;
    text-shadow: none;
}